[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
faker = "*"
pillow = "*"
numpyencoder = "*"
diffusers = "==0.8.0"
requests = "*"
uvicorn = "*"

[dev-packages]
ipykernel = "*"
autopep8 = "*"

[requires]
python_version = "3"

[packages.synthetic-data-generator]
editable = true
path = "."

[packages.fastapi]
extras = [ "all",]

[packages.e1839a8]
path = "."
editable = true
