[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
synthetic-data-generator = {editable = true, path = "."}
pandas = "*"
faker = "*"
pillow = "*"
numpyencoder = "*"

[dev-packages]
ipykernel = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
